@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}
p {
  @include vendor-prefix(hyphens, auto)
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

:focus, :active { outline: none !important;}

// body {
//   padding-bottom: 40px;
//   color: $text-color;
// }

hr.gutter {
  margin-top: ($grid-gutter-width / 2);
  margin-bottom: ($grid-gutter-width / 2);
}

.jumbotron {
  margin-bottom: 0;
  background-image: url("../img/dramatic_flag.png");
  position: relative;
  @include vendor-prefix(background-size, cover);
  @include vendor-prefix(background-position, center);
  height: 400px;
}

.jumbotron-sign {
  background: rgba(#000, 0.5);
  color: $white;
  text-align: center;
  padding: 20px;
  @media (max-width: $screen-xs) {
    font-size: $font-size-base;
  }
}

.moar-margin {
  margin: 20px;
}

.chrontainer {
  overflow: hidden;
  // margin-left: 25%;
  // width: 50%;
}

.large-icon {
  text-align: center;
  font-size: 180px;
  height: 100%;
  text-shadow: $blatant-shadow;
}

.color-section {
  color: $whiteFloral;
  text-shadow: 1px 0px 0 rgba(#000, .5);
  a {
    color: lighten($link-hover-color, 40%);
    text-decoration: underline !important;

    &:hover,
    &:focus {
      color: lighten($link-hover-color, 40%);
      text-decoration: underline;
    }

    &:focus {
      @include tab-focus();
    }
  }

}

.btn-lg {
  box-shadow: $blatant-shadow;
}

.sectitle {
  text-align: center;
  margin-bottom: 60px;
}

.section-pad {
  padding-bottom: 80px;
}

section.big-padding {
  padding-bottom: 150px;
}

section.small-padding {
  padding-bottom: 50px !important;
}

/* Double Diagonal seperator */

.diagonal-seperator {
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    position: absolute;
    content: '';
    pointer-events: none;
    top: 0;
    z-index: -1;
    width: 150%;
    height: 75%;
  }
  &:before {
    height: 50%;
  }

  &.-blue {
    background: $blue;
    &:before {
      background: $darkBlue;
    }
    &:after {
      background: $blue;
    }
  }

  &.-red {
    background: $red;
    &:before {
      background: $darkRed;
    }
    &:after {
      background: $red;
    }
  }

  &.-white {
    background: $whiteFloral;
    &:before {
      background: $darkWhite;
    }
    &:after {
      background: $whiteFloral;
    }
  }


  &.-left {
    &:after,
    &:before {
      right: 0%;
      @include vendor-prefix(transform, rotate(2deg));
      @include vendor-prefix(transform-origin, 100% 100%);
    }
    &:before {
      @include vendor-prefix(transform, rotate(3deg));
    }
  }

  &.-right {
    &:before {
      @include vendor-prefix(transform, rotate(-3deg));
      @include vendor-prefix(transform-origin, 0 0);
    }
    &:after {
      left: 0;
      @include vendor-prefix(transform, rotate(-2deg));
      @include vendor-prefix(transform-origin, 0 0);
    }
  }
}

.row-carousel {
  .carousel-control {
    color: $text-color;
    &.left, &.right {
      background-image: none !important;
    }
  }
  .row {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

hr.clear {
  border-color: transparent !important;
}

.page-header {
  text-align: center;
}